@keyframes blinker { to { opacity: 0.2; } }

.Footer {
  flex-shrink: 0;
  padding-bottom: 1rem;
  
  &.ProgressBar {

    .Wrapper {
      width: 80vw;
      height: 0.6rem;
      
      border-radius: 0.3rem;
      overflow: hidden;
      background-color: rgba(20, 20, 109, 0.411);
    }

    .Bar {
      height: 100%;
      width: 30%;
      transition: .8s;
      border-radius: 0.3rem;
      background-color: rgb(52, 79, 119);
    }

  }
}